In [1]:
import pandas as pd

In [2]:
file_path = "resources/iris.csv"
iris_df = pd.read_csv(file_path)
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width        class
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
new_iris_df = iris_df.drop(['class'], axis=1)
new_iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [4]:
df = new_iris_df[['sepal_length', 'petal_length', 'sepal_width', 'petal_width']]
df.head()

   sepal_length  petal_length  sepal_width  petal_width
0           5.1           1.4          3.5          0.2
1           4.9           1.4          3.0          0.2
2           4.7           1.3          3.2          0.2
3           4.6           1.5          3.1          0.2
4           5.0           1.4          3.6          0.2

In [5]:
output_file_path = "output/new_iris_data.csv"
new_iris_df.to_csv(output_file_path, index=False)

In [6]:
file_path = "resources/shopping_data.csv"
df_shopping = pd.read_csv(file_path, encoding="ISO-8859-1")
df_shopping.head(5)

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0          15000                    39.0
1           2         Yes  21.0          15000                    81.0
2           3          No  20.0          16000                     6.0
3           4          No  23.0          16000                    77.0
4           5          No  31.0          17000                    40.0

In [7]:
# Columns
df_shopping.columns

Index(['CustomerID', 'Card Member', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [8]:
df_shopping.dtypes

CustomerID                  int64
Card Member                object
Age                       float64
Annual Income               int64
Spending Score (1-100)    float64
dtype: object

In [9]:
# Columns
df_shopping.columns

Index(['CustomerID', 'Card Member', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [10]:
# Drop null rows
df_shopping = df_shopping.dropna()

In [11]:
print(f"Duplicate etires: {df_shopping.duplicated().sum()}")

Duplicate etires: 0

In [12]:
df_shopping.head()

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0          15000                    39.0
1           2         Yes  21.0          15000                    81.0
2           3          No  20.0          16000                     6.0
3           4          No  23.0          16000                    77.0
4           5          No  31.0          17000                    40.0

In [13]:
df_shopping.drop(columns=["CustomerID"], inplace=True)

In [14]:
df_shopping.head()

  Card Member   Age  Annual Income  Spending Score (1-100)
0         Yes  19.0          15000                    39.0
1         Yes  21.0          15000                    81.0
2          No  20.0          16000                     6.0
3          No  23.0          16000                    77.0
4          No  31.0          17000                    40.0

In [15]:
file_path = "resources/shopping_data_cleaned.csv"
df_shopping.to_csv(file_path, index=False)

In [16]:
import pandas as pd
import plotly.express as px
import hvplot.pandas
from sklearn.cluster import KMeans

ModuleNotFoundError: No module named 'hvplot'

In [ ]:
file_path = "resources/shopping_data_cleaned.csv"
df_iris = pd.read_csv(file_path)
df_iris.head(10)

In [ ]:
model = KMeans(n_clusters=3, random_state=5)
model

In [ ]:
# Fitting model
model.fit(df_iris)

In [ ]:
# Get the predictions
predictions = model.predict(df_iris)
print(predictions)

In [ ]:
import plotly.express as px
import hvplot.pandas

In [ ]:
df_iris["class"]  = model.labels_
df_iris.head()

In [ ]:
df_iris.hvplot.scatter(x="sepal_length", y="sepal_width", by="class")

In [ ]:
fig = px.scatter_3d(df_iris, x="petal_width", y="sepal_length", z="petal_length", color="class")
fig.update_layout(legend=dict(x=0,y=1))
fig.show()

In [ ]:
# Plotting the clusters with three features
fig = px.scatter_3d(df_iris, x="petal_width", y="sepal_length", z="petal_length", color="class", symbol="class", size="sepal_width",width=800)
fig.update_layout(legend=dict(x=0,y=1))
fig.show()

In [ ]:
# Initial imports
import pandas as pd
from sklearn.cluster import KMeans
import plotly.express as px
import hvplot.pandas

In [ ]:
# Load data
file_path = "Resources/shopping_data_cleaned.csv"
df_shopping = pd.read_csv(file_path)
df_shopping.head(10)

In [ ]:
df_shopping.hvplot.scatter(x="Annual Income", y="Spending Score (1-100)")

In [ ]:
# Function to cluster and plot dataset
def test_cluster_amount(df, clusters):
   model = KMeans(n_clusters=clusters, random_state=5)   model
   # Fitting model
   model.fit(df)

# Add a new class column to df_iris
df["class"] = model.labels_

In [ ]:
test_cluster_amount(df_shopping, 2)
df_shopping.hvplot.scatter(x="Annual Income", y="Spending Score (1-100)", by="class")

In [ ]:
fig = px.scatter_3d(
	df_shopping,
x="Annual Income",
	y="Spending Score (1-100)",
	z="Age",
color="class",
	symbol="class",
	width=800,
)
fig.update_layout(legend=dict(x=0, y=1))
fig.show()

In [ ]:
inertia = []
k = list(range(1, 11))

In [ ]:
# Looking for the best K
for i in k:
km = KMeans(n_clusters=i, random_state=0)
	km.fit(df_iris)
inertia.append(km.inertia_)

In [ ]:
# Define a DataFrame to plot the Elbow Curve using hvPlot
elbow_data = {"k": k, "inertia": inertia}
df_elbow = pd.DataFrame(elbow_data)
df_elbow.hvplot.line(x="k", y="inertia", title="Elbow Curve", xticks=k)

In [ ]:
# Initial imports
import pandas as pd
from sklearn.cluster import KMeans
import plotly.express as px
import hvplot.pandas

In [ ]:
# Load data
file_path = "Resources/shopping_data_cleaned.csv"
df_shopping = pd.read_csv(file_path)
df_shopping.head(10)

In [ ]:
inertia = []
k = list(range(1, 11))
# Calculate the inertia for the range of K values
for i in k:
   km = KMeans(n_clusters=i, random_state=0)
   km.fit(df_shopping)
   inertia.append(km.inertia_)

In [ ]:
def get_clusters(k, data):   
    # Create a copy of the DataFrame   
    data = data.copy()       
    # Initialize the K-Means model   
    model = KMeans(n_clusters=k, random_state=0)   
    # Fit the model   
    model.fit(data)   
    # Predict clusters   
    predictions = model.predict(data)   
    # Create return DataFrame with predicted clusters   
    data["class"] = model.labels_   
    return data

In [ ]:
# Plot the 3D-scatter with x="Annual Income", y="Spending Score (1-100)" and z="Age"
fig = px.scatter_3d(
    five_clusters,
    x="Age",
    y="Spending Score (1-100)",
    z="Annual Income",
    color="class",
    symbol="class",
    width=800,
)
fig.update_layout(legend=dict(x=0, y=1))
fig.show()

In [ ]:
# Plotting the 3D-Scatter with x="Annual Income", y="Spending Score (1-100)" and z="Age"
fig = px.scatter_3d(
    six_clusters,
    x="Age",
    y="Spending Score (1-100)",
    z="Annual Income",
    color="class",
    symbol="class",
    width=800,
)
fig.update_layout(legend=dict(x=0, y=1))
fig.show()

In [ ]:
fig = px.scatter_3d

In [ ]:
intertia = []
k = list(range(1,11))

In [ ]:
for i in k:
    km = KMeans(n_clusters=i, random_state=0)
    km.fit(df_iris)
    intertia.append(km.inertia_)
    df_elbow = pd.DataFrame(elbow_data)
    df_elbow.hvplot.line(x="k", y="inertia", title="Elbow Curve", xticks=x)

In [ ]:
five_clusters = get_clusters(4,df_shopping)
four_clusters = get_clusters(5,df_shopping)

In [ ]:
fig = px.scatter_3d(
    fiv_clusters,
    x="Age",
    y="Spending Score (1-100)",
    

)
fig.show()

In [ ]:
iris_scaled = StandardScaler().fit_transform(df_iris)
print(iris_scaled[0:5])
pca = PCA(n_components=2)

In [ ]:
iris_pca = pca.fit_transform(iris_scaled)

In [ ]:
df_iris_pca.hvplot.scatter(
    x="principal component 1",
    y="principal component 2",
    hover_cols=["class"],
    by="class",
)
model = KMeans